<div class="help-msg">
    <i class="fa fa-phone" style="padding-right:5px;"></i>
    <span id="helpline">1 877 424 2449 Need Help?</span>
</div>

<header style="padding:20px;background:#f4f2ed;">
    <img src="assets/logo.png" style="width:90px;">
    <nav>
        <ul>
            <li>Locations</li>
            <li>Stay</li>
            <li>Offers</li>
            <li>Meetings</li>
            <li>Our Brands</li>
            <li>IHG&reg; Rewards Club</li>
        </ul>
    </nav>
</header>

<router-outlet></router-outlet>