.pannel-div{
    min-width:100%; 
    max-width:100%; 
    border: 1px solid red;
}

::ng-deep .btn-primary, .btn{
    background-color: orange;
    border-radius: 0px;
}
@media only screen and (max-width: 780px) {
    .imgsrc {
        border-radius: 10px !important;
    }
}

@media only screen and (min-width: 780px) {
    .priceContent {
        margin-top: 9% !important;        
    }
}