.form-heading {
    padding:0px 20px;
    font-family:Graphik-Medium,sans-serif;
    font-weight:400;
    font-size:10px;
    line-height:30px;
    color:#707372;
    margin-top: 1em;
    margin-bottom: 1em;
}

.searchForm
{
    display: flex;
    flex-direction: col;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.searchFields
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.inputGroup
{
/* width: 100%; */
    display: flex;
    flex-direction: row;
}

.searchForm label
{
    font-family: Graphik-Medium, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: block;
    margin: 0 0 3px 2px;
}

.searchForm input
{
    padding: 10px;
    border: 0;
    outline: 0;
    background: #ffffff;
    width: 100%;
    font-size: 16px;
    line-height: 22px;
}

.search-dest {
    width:100%;
    max-width:40%;
    
}
@media only screen and (max-width: 780px) {
   .search-dest {
    width:100%;
    max-width:70%;
}
}

.inputArea
{
    display: flex;
    flex-direction: row;
    background: #fff;
}

.fa-calendar,
.fa-map-marker
{
    color: #3f3d3d;
    height: 42px;
    line-height: 40px;
    font-size: 24px;
    padding: 0 10px;
}

#searchButton
{
    font-family: Graphik-Medium, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    background: #d96932;
    border: 0;
    padding: 10px;
    margin: 40px;
    height: 42px;
    min-width: 200px;
}

.searchInput
{
    margin: 10px;
}

.input-stepper
{
    border: 1px solid #ffffff;
    display: inline-block;
}

.input-stepper .remove-padding {
    padding-top: 0px;
    padding-bottom: 0px;
}

.input-stepper button
{
    background: #ffffff;
    appearance: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 40px;
    height: 42px;
}

.input-stepper button[disabled]
{
    cursor: not-allowed;
}

.input-stepper button[disabled] i
{
    color: #ccc;
}

.input-stepper button i
{
    color: #3f3d3d;
}

.input-stepper input
{
    appearance: none;
    border: none;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 60px;
    height: 42px;
    background: #3f3d3d;
    color: #ffffff;
}

.ratePreference
{
    box-sizing: border-box;
    height: 44px;
    width: 300px;
    color: black;
    border: 0;
    border-radius: 0;
}

@media only screen and (max-width: 780px) {

   
   .ratePreference
{
    box-sizing: border-box;
    height: 44px;
    width: 100%;
    color: black;
    border: 0;
    border-radius: 0;
}
.selectric-wrapper selectric-ratePreference{
    width:100% !important;
}
}


.selectric .label
{
    box-sizing: border-box;
    padding-top: 10px;
    font-size: 16px;
    line-height: 22px;
    min-height: 42px;
}

.ihg-search-form {
    /* margin:0 20px; */
    /* margin: auto; */
    padding:20px;
    border:2px solid #3f3d3d;
    background:#3f3d3d;
    font-family:'Graphik-Regular','sans-serif';
    color:#ffffff;
    /* max-width:1170px; */
}

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.custom-day.focused {
    background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}
.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}

.check-results {
    background-color: rgb(245, 245, 245);
    margin-top: 2em;
    height: 4em;
}